body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-image: url("../img/Фон 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    height: 58px;
    align-items: center;
    padding: 0 79px 0 79px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.header-right-menu {
    width: 347px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-menu-text {
    display: inline-block;
}

.white {
    color: white;
    text-decoration: none;
}

.header-left-menu-style {
    font-size: 22px;
}

.header-left-menu-style:hover {
    color: #01813F;
    transition: 0.3s;
}

.header-right-menu-style:hover {
    color: #01813F;
    transition: 0.3s;
}

.header-right-menu-svg:hover path {
    fill: #01813F;
    transition: 0.3s;
}

/*main*/

main {
    display: flex;
    height: calc(100vh - 58px);
    align-items: center;
    justify-content: center;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 584px;
    width: 444px;
    background-color: white;

}

.main-form {
    width: 324px;
    height: 515px;
    display: flex;
    flex-direction: column;
}

.registration {
    font-size: 20px;
}

.logIn {
    font-size: 14px;
    padding-top: 4px;
    text-decoration: none;
    color: #3CB878;
}

.logIn:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.3s;
}

.border-square {
    position: relative;
}

.square {
    position: absolute;
    top: 31px;
    width: 18px;
    height: 18px;
    background-color: #3CB878CC;
}

.logging-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.facebook {
    background-color: #305DB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.facebook:hover {
    background-color: #022263;
    transition: 0.3s;
}

.facebook-text::before {
    content: "";
    border-right: 1px solid #0A162F;
    margin-right: 20px;
}

.google {
    background-color: #DF4A32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.google:hover {
    background-color: #AB1F09;
    transition: 0.3s;
}

.google-text::before {
    content: "";
    border-right: 1px solid #0A162F;
    margin-right: 20px;
}

.facebook, .google {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}

.registration-form {
    margin-top: 30px;
    display: inline-block;

}

.registration-form::before, .registration-form::after {
    content: "";
    width: 148px;
    border-top: 1px solid #0A162F;
    display: inline-block;
    margin-bottom: 2px;
}

.registration-form-table {
    display: inline-block;
    margin-top: 8px;
}

.registration-form-input {
    margin-top: 12px;
    padding-left: 20px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.registration-form-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
    outline: 0;
    outline-offset: 0;
}

.checkbox {
    margin-top: 12px;
    display: inline-block;
}

.terms-hyperlink {
    text-decoration: none;
    color: #3CB878;
}

.terms-hyperlink:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.3s;
}

.button-create-account {
    margin-top: 16px;
    background-color: #3CB878CC;
    height: 44px;
    border-radius: 4px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button-create-account:hover {
    background-color: #01813F;
    transition: 0.3s;
}

#terms {
    display: none;
}

/*Checkbox*/

label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-right: 10px;
}

label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 12px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    color: #3cb878;
}

label {
    position: relative;
    padding-left: 30px;
}

label::before, label::after {
    position: absolute;
}

/*Outer-box*/
label::before {
    top: -3px;
    left: 0;
}

/*Checkmark*/
label::after {
    left: 4px;
    top: 2px;
}

input[type="checkbox"] + label::after {
    content: none;
}

input[type="checkbox"]:checked + label::after {
    content: "";
}